<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title><%= htmlWebpackPlugin.options.templateParameters.title %></title>
  </head>
  <body class="lightMode">
    <div id="global-notification" class="hidden">
      <a id="global-notification-text">You got mail!</a>
    </div>
    <%= htmlWebpackPlugin.options.templateParameters.content %>
    <%= htmlWebpackPlugin.options.templateParameters.sourceFile %>
  </body>
</html>