.vscode
run-client.sh

client/node_modules/
client/dist/

server/bin/
server/lib/
server/lib64
server/include/
server/__pycache__/
server/flask_session/
flask_session/
**/__pycache__/

.mysql-data/
Chatterer.code-workspace
