.vscode
run-client.sh

client/node_modules/
client/dist/
client/orders/

server/.venv
server/__pycache__/
server/flask_session/
flask_session/
**/__pycache__/
server/src/testDB.py

.mysql-data/
*.code-workspace

.env
testing/
docker-volume/

static/
!static/profile/DEFAULT.png
server/src/localhost.key
server/src/localhost.pem
