@import './styles.scss';

.carousel {
    position: relative;
    overflow: hidden;

    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease;

        margin-left: 40px;
    }

    .carousel-item {
        min-width: 100%;
        box-sizing: border-box;
        padding: 10px;
        opacity: 1;

        display: flex;
        gap: 30px;

        .card-body {
            position: relative;
            padding: 10px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            min-width: 20%;
            max-width: 20%;

            border: solid 2px $carousel-card-border-light;

            background-color: lighten($carousel-card-bg-light,10%);
            cursor: pointer;
            color:$carousel-card-text-light;

            &:hover {
                border: solid 2px $carousel-card-border-selected-light;
            }

            &.selected {
                border: solid 3px $carousel-card-border-selected-light;
            }

            .card-title {
                font-weight: bold;
                word-wrap: break-word;
                font-size: 1rem;

                margin: 0px;
            }
            .card-content {
                font-size: 0.8rem;
            }
        }
    }

    .carousel-navigator {
        display: flex;
        justify-content: center;
        gap: 40px;
        .carousel-nav-item{
            list-style: none;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            cursor: pointer;
            transition: opacity 0.5s ease;
            
            opacity: calc(1 - $carousel-control-fade-amount);
            background-color: $carousel-navigator-color-light;
            &:hover {
                opacity: $carousel-control-fade-amount;
            }
            &.active {
                opacity: 1;
                background-color: $carousel-navigator-selected-color-light;
            }
        }
    }

    .carousel-control {
        position: absolute;
        top: 0;
        top: 25%;
        height: 50px;
        width: 50px;
        border: none;
        cursor: pointer;

        border-radius: 100%;
        font-size: 30px;
        opacity: calc(1 - $carousel-control-fade-amount);

        transition: opacity 0.5s ease;

        background-color: none;
        color: $carousel-control-color-light;
        &:hover {
            opacity: $carousel-control-fade-amount;
        }

        &.prev {
            left: 0;
        }
        &.next {
            right: 0;
        }
    }
}
