.carousel {
    position: relative;
    overflow: hidden;

    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease;

        margin-left: 40px;
    }

    .carousel-item {
        min-width: 100%;
        box-sizing: border-box;
        padding: 10px;
        opacity: 1;

        display: flex;
        gap: 30px;

        .card-body {
            position: relative;
            padding: 10px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            min-width: 20%;
            max-width: 20%;

            border: solid 2px #33333320;

            cursor: pointer;

            &:hover {
                border: solid 2px #80d7ff85;
            }

            .card-title {
                font-weight: bold;
                word-wrap: break-word;
                font-size: 1rem;

                margin: 0px;
            }
            .card-content {
                font-size: 0.8rem;
            }
        }
    }

    .carousel-control {
        position: absolute;
        top: 0;
        top: 25%;
        height: 50px;
        width: 50px;
        border: none;
        cursor: pointer;

        border-radius: 100%;

        background-color: #0000;
        &:hover {
            background-color: #0003;
        }

        &.prev {
            left: 0;
        }
        &.next {
            right: 0;
        }
    }
}
