@import './styles.scss';
@import './mixins.scss';

#index-page {

  > #notification{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;

    height: $notif-bar-height;

    text-align: center;
    font-size: small;
    background-color: $notification-light-bg;
    color: $notification-light-text;
  }

  #sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 10;

    .end {
      justify-self: flex-end;
    }

    a {
      display: block;
      padding: 16px;
      text-decoration: none;
    }
  }

  #topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $topbar-height;
    z-index: 5;

    #buttons {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      padding: 2px;

      a {
        display: block;
        padding: 10px;
        text-decoration: none;
      }
    }
  }

  #content {
    padding: 1px 16px;
    margin-left: 200px;

    > div {
      margin-top: $topbar-height;
    }
  }
}

.notif-box {
  position: relative;
  > .notif-text {
    position: absolute;
    bottom:0px;
    right: 0px;
    padding: 1px;
    border-radius: 3px;
    font-size: smaller;
    background-color: $notif-bg-color;
    color: $notif-color;
  }
}

@media screen and (max-width: 700px) {
  #sidebar {
    width: 100%;
    height: auto;
    position: relative;
    &a {
      float: left;
    }
  }
  #content {
    margin-left: 0;
  }
}

.lightMode #sidebar {
    background-color: darken($bg-color-light,10%);
    a{
        @include link_color($text-color-light);
        &:hover:not(.active){
            @include darken-on-hover($button-bg-light);
            @include link_color($button-text-light);
            color: $button-text-light;
        }
        &.active {
            background-color: $button-bg-light;
            @include link_color($button-text-light);
        }

        &#sidebar-logout {
          background-color: $button-bg-warn-light;
          color: $button-text-warn-light;
          @include darken-on-hover($button-bg-warn-light);
        }
    }
}