//// These styles apply to all subpages of index
/// Each one has it's own style scss file that is imported here

//// Global styles
@import './styles.scss';
@import './mixins.scss';

/// Subpages
@import './carousel.scss';
@import './subpage-writer.scss';

@import './subpage-home.scss';

#index-page {
  #sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 1;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    .end {
      justify-self: flex-end;
    }

    a:not(#username) {
      display: block;
      padding: 16px;
      text-decoration: none;
    }

    #userData {
      padding: 10px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 10px;

      #profilePic {
        border-radius: 100px;
        box-shadow: 0 0 5px #0002;
        cursor: default;
        max-width: 60px;
      }

      #username {
        padding: 1px;
        font-size: 18px;
        text-wrap: wrap;
        text-align: center;
        cursor: default;
      }
    }
  }

  #topbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: $topbar-height;
    z-index: 5;

    max-width: fit-content;

    #buttons {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      padding: 2px;

      a {
        display: block;
        padding: 10px;
        text-decoration: none;
        cursor: pointer;
      }
    }

    #settings-dropdown {
      position: absolute;
      top: $topbar-height;
      right: 0;
      flex-direction: column;
      gap: 5px;
      margin-right: 10px;
      z-index: 10;

      @include rounded_list(15px);

      a {
        padding: 10px;
        padding-right: 50px;
        text-decoration: none;
      }
    }

    //This is a hack and we'll agree to not tell anyone
    #settings-area{
      position: absolute;
      top: $topbar-height;
      right: 0;
      z-index: 9;
      margin-right: 10px;
      background-color: #0000;
      width: 200px;
      height: 150px;

      display: none;
    }
  }

  #content {
    margin-left: 200px;
  }
}

.notif-box {
  position: relative;
  > .notif-text {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 1px;
    border-radius: 3px;
    font-size: smaller;
    background-color: $notif-bg-color;
    color: $notif-color;
  }
}

@media screen and (max-width: 700px) {
  #sidebar {
    width: 100%;
    height: auto;
    position: relative;
    &a {
      float: left;
    }
  }
  #content {
    margin-left: 0;
  }
}

.lightMode #settings-dropdown {
  background-color: $settings-light-bg-color;
  color: $settings-light-text-color;
  a {
    background-color: $settings-light-bg-color;
    color: $settings-light-text-color;
    &:hover {
      background-color: $settings-light-hover-color;
      color: $settings-light-hover-text-color;
    }
  }
  #logout-btn {
    //background-color: $button-bg-warn-light;
    @include link_color($text-color-light);
    &:hover {
      color: $button-text-warn-light;
      background-color: $button-bg-warn-light;
    }
  }
}

.lightMode #sidebar {
  background-color: darken($bg-color-light, 10%);
  a:not(#username) {
    cursor: pointer;
    @include link_color($text-color-light);
    &:hover:not(.active) {
      @include darken-on-hover($button-bg-light);
      @include link_color($button-text-light);
      color: $button-text-light;
    }
    &.active {
      background-color: $button-bg-light;
      @include link_color($button-text-light);
    }
  }
}
