// Global variables for ease of editing
@import './styles.scss';
@import './mixins.scss';

// Pages
@import './user-form.scss'; // Login and register
@import './index.scss';
@import './edit-profile.scss';

// Global styles
.hidden {
  display: none !important;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

body.lightMode {
  background-color: $bg-color-light;
  color: $text-color-light;
}

.lightMode {
  .separator {
    &.horizontal {
      border-bottom: 1px solid $separator-color;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    &.vertical {
      border-left: 1px solid $separator-color;
      height: 100%;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.lightMode #global-notification {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;

  height: $notif-bar-height;

  text-align: center;
  font-size: small;
  background-color: $notification-light-bg;
  color: $notification-light-text;
}
