$hover-change-amount: 20%;
// How much the color lighthens or darkens when hovering over a button
// Used in mixins.scss

// Main colors, applies globally unless overwritten
$bg-color-light: #f0f0f0;
$text-color-light: #000000;

// Buttons
$button-bg-light: #007bff;
$button-text-light: #fff;

$button-bg-warn-light: #ff2121;
$button-text-warn-light: $button-text-light;

// Login/Register
$form-bg-light: #fff;
$form-button-swap-bg-light: #0029b1; // The button that changes between log in and register form

// Index page
$topbar-height: 35px;
$notif-bar-height: 20px;

$notif-bg-color: #ff0000;
$notif-color: #ffffff;

$notification-light-bg: #838383;
$notification-light-text: #000000;
