// Main styles
$hover-darken-amount: 20%;

$bg-color-light: #f0f0f0;
$text-color-light: #000000;

// User form styles
$form-bg-light: #fff;
$form-button-bg-light: #007bff;
$form-button-text-light: #fff;
$form-button-swap-bg-light: #0029b1;