@import './styles.scss';
@import './mixins.scss';

#subpage-hire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .banner {
        color: $text-color-light;
        font-size: 1.5em;
        font-weight: 500;
        text-align: center;
        margin-top: 120px;
    }

    #hiring-orders {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 30px;

        margin-top: 50px;

        .card-body {
            padding: 10px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            background-color: $hire-card-bg-light;
            border: 1px solid $hire-card-border-light;
            color: $hire-card-text-light;

            cursor: pointer;

            &:hover {
                border: 1px solid $hire-card-hover-border-light;
                background-color: darken($hire-card-bg-light, 5%);
            }

            &.selected-order {
                border: 1px solid $hire-card-selected-border-light;
            }

            .card-title {
                font-weight: bold;
                word-wrap: break-word;
                font-size: 1rem;

                margin: 0px;
            }
            .card-content {
                font-size: 0.8rem;
            }
            .order-time {
                font-size: 0.6rem;
                align-self: flex-end;
                margin-bottom: -2px;

                font-weight: bold;
                color: lighten($hire-card-text-light, 40%)
            }
        }
    }
}


.order-card {
    top: 5%;
    left: 40%;
    position: absolute;
    z-index: 2;
    width: 400px;
    margin: 15px auto;
    padding: 20px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    >h2 {
        font-weight: bold;
        word-wrap: break-word;
        font-size: 1rem;

        margin: 0px;
    }

    >h5 {
        margin-bottom: -10px;
    }

    >.time-spacer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;

        #deadline{
            color: lighten($hire-card-text-light, 40%);
            margin-bottom: -5px;
        }
        .order-time {
            font-size: 0.6rem;
            font-weight: bold;
            margin-bottom: -2px;
            color: lighten($hire-card-text-light, 40%);
        }
    }

    .accept-button{
        width: 40%;
        height: 30px;
        border: none;
        border-radius: 5px;
    }

    .close-button{
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.lightMode {
    .order-card {
        background-color: $form-bg-light;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .accept-button {
        background-color: $button-bg-light;
        color: $button-text-light;

        @include darken-on-hover($button-bg-light);
        cursor: pointer;
    }
}