@import './styles.scss';

#subpage-hire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;

    #orders {
        margin-left: 30px;
    }

    #orders-header {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 20px;
        
        button {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            font-size: 16px;
            border: none;
            background-color: $button-bg-light;
            color: $button-text-light;
            cursor: pointer;

            transition: all 0.2s ease-in-out;
            &:hover{
                background-color: $button-bg-hover-light;
                width: 40px;
                height: 40px;
                margin-left: -5px;
            }
        }
    }

    #order-list-head {
        display: flex;
        flex-direction: row;
        height: 20px;
        gap: 20px;

        ul {
            display: flex;
            flex-direction: row;
            gap: 50px;
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                font-weight: bold;
                width: 100px;
                height: 40px;
                cursor: pointer;

                text-align: center;

                //border: 1px solid red;
            }
        }

        select {
            width: 100px;
            height: 40px;
            font-size: 16px;
            border: 1px solid $separator-color;

            option {
                font-size: 16px;
            }
        }
    }
}