@import './styles.scss';
@import './mixins.scss';

form.user-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

form.user-form {
  > #username-container {
    display: flex;
    > button {
      margin-left: 6px;
      max-width: 100px;
      font-size: smaller;
      padding: 8px 13px;
    }
  }
}

label.user-form {
  display: block;
  margin-bottom: 5px;
  &#change-label{
    font-size: x-small;
  }
}

#buttons.user-form {
  display: flex;
  justify-content: space-between;
}

input.user-form {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  &:focus {
    outline: none;
  }
  &.valid-input {
    border: 2px green solid;
  }
  &.invalid-input {
    border: 2px red solid;
  }
}

button.user-form {
  height: min-content;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.lightMode form.user-form {
    background-color: $form-bg-light;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lightMode button.user-form {
    background-color: $form-button-bg-light;
    color: $form-button-text-light;
    @include darken-on-hover($form-button-bg-light)
}

.lightMode button.user-form#change-button {
  background-color: $form-button-swap-bg-light;
  @include darken-on-hover($form-button-swap-bg-light)
}